  .gauge-wrapper {
    position: relative;

    .label {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-weight: bold;
    }

    .gauge {
      transform: rotate(-90deg);
    }
  }