.daily-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  padding: 10px;
  color: whitesmoke;
  font-weight: 700;
  filter: drop-shadow(0 0 0.15rem rgba(0, 0, 0, 1));
  user-select: none;
}

.daily-habits-header {
  color: whitesmoke;
  filter: drop-shadow(0 0 0.15rem rgba(0, 0, 0, 1));
  user-select: none;
}

.daily-habits-sub-header {
  color: whitesmoke;
}
