.dashboard {
  color: whitesmoke;
}

.dharmas {
  /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.dharma-card {
  color: whitesmoke;
}

.dharma-header {
  color: whitesmoke;
}
