.dashboard {
  color: whitesmoke;
  margin-top: 30px;
}

.dharmas {
  /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.dharma-header {
  color: #007bff;
  filter: drop-shadow(0 0 0.15rem rgba(0, 0, 0, 1));
  cursor: pointer;
}

.nav {
  user-select: none;
}

.time-bar .nav-link {
  margin: 0 10px 10px;
  font-size: 0.9rem;
}

.selected-time.nav-link {
  color: dodgerblue;
  background: rgba(242, 238, 232, 1);
  transform: scale(1.1);
}

.life-meter {
  margin-bottom: 20px;
}
