.gauge-outer-wrapper {
  margin: 0 5%;
  vertical-align: top;
  color: #f2eee8;
  user-select: none;

  .top-label,
  .bottom-label {
    margin: 7px auto;
    padding: 0;
    filter: drop-shadow(0 0 0.15rem rgba(0, 0, 0, 1));
  }

  .bottom-label {
    font-weight: normal;
  }

  .gauge-inner-wrapper {
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0 0 0.225rem rgba(0, 0, 0, 1));

    .score {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-weight: bold;
      z-index: 1;
      color: black;
      font-family: monospace;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    }

    .gauge {
      transform: rotate(-90deg);
    }

    .progress {
    }
  }
}
