.add-update-button {
  margin: 10px;
  background: #65afff;
  filter: drop-shadow(0 0 0.15rem rgba(0, 0, 0, 1));
}

.habit-form-button {
  margin: 10px;
  background: #7fefbd;
}

.habits-header {
  border-top: 3px solid #7fefbd;
  border-bottom: 3px solid #7fefbd;
  padding: 15px;
  user-select: none;
  /* padding-top: 10px; */
}

.search-bar {
  margin: 25px;
}

.card-btn {
  margin: 10px;
  font-size: 0.75rem;
  background: #65afff;
  border: 1px solid whitesmoke;
  font-weight: 900;
  /* color: #0f084b; */
}

.habit-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  padding: 10px;
  color: whitesmoke;
  font-weight: 700;
  filter: drop-shadow(0 0 0.15rem rgba(0, 0, 0, 1));
}

.habit {
  max-width: 60%;
  text-align: left;
}

.habit-form {
  color: whitesmoke;
  font-weight: 700;
}

.habits-header {
  color: whitesmoke;
  font-weight: 700;
  margin-top: 20px;
  /* text-decoration: underline; */
}

.habit-input {
  max-width: 50%;
  text-align: center;
}

.habit-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.circle {
  color: grey;
  margin-right: 15px;
}

.circle-green {
  color: green;
  margin-right: 15px;
}

.circle-yellow {
  color: yellow;
  margin-right: 15px;
}

.circle-red {
  color: red;
  margin-right: 15px;
}

.circle-purple {
  color: purple;
  margin-right: 15px;
}

.option-purple {
  color: purple;
  font-weight: 900;
}

.option-green {
  color: green;
  font-weight: 900;
}

.option-yellow {
  color: yellow;
  font-weight: 900;
}

.option-red {
  color: red;
  font-weight: 900;
}

.dharma-box {
  color: #0f084b;
  font-weight: 700;
  background: #65afff;
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 50%;
  border-radius: 25px;
  text-align: center;
}

.category-circle {
  font-weight: 700;
  margin: 10px 62px;
}

.category-header {
  color: whitesmoke;
  font-weight: 700;
  font-size: 1.4rem;
  filter: drop-shadow(0 0 0.15rem rgba(0, 0, 0, 1));
  user-select: none;
}

.active-circle-cat {
  border: 2px solid whitesmoke;
  border-radius: 10px;
}

.category-list {
  display: flex;
}

.dharma-card {
  filter: drop-shadow(0 0 0.15rem rgba(0, 0, 0, 1));
}

/* .dharma-row {
  display: flex;
  flex-direction: row;
} */

.category {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
