.add-update-button {
  margin: 10px;
  background: #7fefbd;
}

.habit-form-button {
  margin: 10px;
  background: #7fefbd;
}

.card-btn {
  margin: 10px;
  font-size: 0.75rem;
}

.habit-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  padding: 10px;
  color: whitesmoke;
  font-weight: 700;
}

.habit-form {
  color: whitesmoke;
  font-weight: 700;
}

.habits-header {
  color: whitesmoke;
  font-weight: 700;
  margin-top: 20px;
  /* text-decoration: underline; */
}

.habit-input {
  max-width: 50%;
  text-align: center;
}

.habit-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.circle {
  color: grey;
  margin-right: 15px;
}

.circle-green {
  color: green;
  margin-right: 15px;
}

.circle-yellow {
  color: yellow;
  margin-right: 15px;
}

.circle-red {
  color: red;
  margin-right: 15px;
}

.circle-purple {
  color: purple;
  margin-right: 15px;
}

.option-purple {
  color: purple;
  font-weight: 900;
}

.option-green {
  color: green;
  font-weight: 900;
}

.option-yellow {
  color: yellow;
  font-weight: 900;
}

.option-red {
  color: red;
  font-weight: 900;
}

.dharma-box {
  color: #0f084b;
  font-weight: 700;
  background: #7fefbd;
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 50%;
  border-radius: 25px;
  text-align: center;
}

.category-circle {
  font-weight: 700;
  margin: 10px 62px;
}

.category-header {
  color: whitesmoke;
  font-weight: 700;
  font-size: 1.5rem;
}

.active-circle-cat {
  border: 2px solid whitesmoke;
  border-radius: 10px;
}
