.add-update-button {
  margin: 10px;
  background: #7fefbd;
}

.habit-form-button {
  margin: 10px;
  background: #7fefbd;
}

.card-btn {
  margin: 10px;
  font-size: 0.75rem;
}

.habit-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  padding: 10px;
  color: whitesmoke;
  font-weight: 700;
}

.habit-form {
  color: whitesmoke;
  font-weight: 700;
}

.habits-header {
  color: whitesmoke;
  font-weight: 700;
  margin-top: 20px;
  /* text-decoration: underline; */
}

.habit-input {
  max-width: 50%;
  text-align: center;
}

.habit-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circle {
  color: grey;
  margin-right: 15px;
}

.circle-green {
  color: green;
  margin-right: 15px;
}

.circle-yellow {
  color: yellow;
  margin-right: 15px;
}

.circle-red {
  color: red;
  margin-right: 15px;
}

.circle-purple {
  color: purple;
  margin-right: 15px;
}
