.Login {
  /* background: #0d0221; */
  width: 50%;
  margin: 0 auto;
}

.Login > h1 {
  color: whitesmoke;
}

.login-header {
  color: whitesmoke;
}

.create-account-button {
  margin: 10px;
}

.login-button {
  margin: 0px;
}

.login-input {
  max-width: 50%;
  text-align: center;
}

.login-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome {
  margin-top: 35px;
}

.form-control {
  margin: 15px auto;
  max-width: 75%;
}

.error {
  font-weight: bold;
  color: yellow;
}
