.nav-bar {
  /* background: #0d0221; */
  user-select: none;
  /* border: 1px solid red; */
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  margin: 10px auto 20px;
}

.nav-link {
  /* background: hsl(261, 89%, 7%); */
  color: rgb(242, 238, 232);
  font-weight: 700;
  border: 3px solid #f2eee8;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0);
  margin: 5px 8px;
  transition: all 0.2s ease-in-out;
  display: inline-block;
}

.nav-link:hover,
.nav-link.active {
  color: dodgerblue;
  background: rgba(242, 238, 232, 1);
  transform: scale(1.1);
}
