.App {
  text-align: center;
  border: 1px solid hotpink;
}

.add-update-button {
  margin: 10px;
}

.card-btn {
  margin: 10px;
}

.habit-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25rem;
  padding: 10px;
}

.card-btn {
  font-size: 0.75rem;
}

.Login {
  background: dodgerblue;
}

.Login > h1 {
  color: whitesmoke;
}

.login-header {
  color: whitesmoke;
}

.circle {
  color: grey;
  margin-right: 15px;
}

.circle-green {
  color: green;
  margin-right: 15px;
}

.circle-yellow {
  color: yellow;
  margin-right: 15px;
}
.circle-red {
  color: red;
  margin-right: 15px;
}

.daily-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25rem;
  padding: 10px;
}

.daily-circle {
  margin: 10px;
}

.daily-circle-checked {
  margin: 10px;
  color: green;
}

.daily-times-checked {
  margin: 10px;
  color: red;
}

.checked {
  text-decoration: line-through;
}

.dharmas {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.dharma-card {
  /* border: 1px solid red; */
}

.create-account-button {
  margin: 10px;
}

.create-account-header {
  color: whitesmoke;
  margin: 0px;
}
