.App {
  text-align: center;
  border: 1px solid hotpink;
}

.add-update-button {
  margin: 10px;
}

.card-btn {
  margin: 10px;
}

.habit-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25rem;
  padding: 10px;
}

.card-btn {
  font-size: 0.75rem;
}

.Login {
  background: black;
}

.Login > h1 {
  color: whitesmoke;
}

.login-header {
  color: whitesmoke;
}

.nav-bar {
  background: dodgerblue;
}

.nav-link {
  color: whitesmoke;
}

.circle {
  color: grey;
  margin-right: 15px;
}

.daily-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25rem;
  padding: 10px;
}

.daily-circle {
  margin: 10px;
}

.daily-circle-checked {
  margin: 10px;
  color: green;
}

.daily-times-checked {
  margin: 10px;
  color: red;
}

.checked {
  text-decoration: line-through;
}
