@font-face {
  font-family: "American Typewriter Regular";
  src: url("./assets/AmericanTypewriterRegular.ttf") format("truetype");
}

body {
  font-family: "American Typewriter Regular";
  max-width: 850px;
  margin: 0 auto;
  /* background: black; */
  /* color: whitesmoke; */
}
